<div class="navbar navbar-light bg-faded navbar-static-top" role="navigation">
  <div class="nav navbar-nav">
    <%= image_tag("archrails_logo.jpeg", size: "45x45", class: "navbar-icon img-rounded pull-xs-left pull-sm-left pull-md-left pull-lg-left") %>
    <a class="nav-item nav-link <%= "active" if params[:action] == "home" %>" href="/">ArchRails</a>
    <a class="nav-item nav-link <%= "active" if params[:action] == "conduct" %>" href="/conduct">Conduct</a>
    <a class="nav-item nav-link <%= "active" if params[:action] == "values" %>" href="/values">Values</a>
    <a class="nav-item nav-link <%= "active" if params[:action] == "about" %>" href="/about">About</a>
    <a class="nav-item nav-link <%= "active" if params[:category] == "topic" %>" href="/suggestions?category=topic">Topics</a>
    <a class="nav-item nav-link <%= "active" if params[:category] == "gag_gift" %>" href="/suggestions?category=gag_gift">Gag Gifts</a>
    <a class="nav-item nav-link <%= "active" if params[:action] == "contribute" %>" href="/contribute">Contribute</a>
  </div>
  <div class="nav navbar-nav pull-xs-right">
    <a class="nav-item nav-link" href="https://github.com/ZempTime/archrails.com" target="_blank">Source</a>
    <a class="nav-item nav-link" href="http://www.meetup.com/arch-rails/" target="_blank">Meetup</a>
  </div>
</div>
