<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="container col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
     <%= image_tag("archrails_logo.jpeg", class: "img-rounded img-fluid center-block") %>
   </div>
   <div class="container col-sm-8 col-xs-8 col-md-9 col-lg-10 col-xl-10">
     <h1 class="display-3">ArchRails</h1>
     <p class="lead">The Open Source Meetup</p>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>What we do:</h2>
    <p>
      In the past, we've done the whole 'meetup' thing, complete with talks, sponsors, and all the other standard meetup fare.
    </p>
    <p>
      But you know what?
    </p>
    <p>
      Even after the talks, people would still stick around and talk for the next hour and a half. What happens are deep, interesting conversations about substantial topics, and this is actually the valuable part of the meetup.
    </p>
    <p>
      So nowadays, we've cut the cruft: every month we all meet up at the same time and place and dive into one or two topics that matter.
    </p>
    <br>
    <h2>Next Meetup:</h2>
    <p>
      Meeting Thursday May 12th, 2016 at <a href="http://www.downtowntrex.org/">T-Rex</a> 5th Floor, 7:00 PM.
    </p>
    <br>
    <p>
      <b>Discussion Topic:</b> During the last meetup, Josh Peck asked a great
      question: "How do I build a great Rails team here?"
      His company, <%= link_to "Ikayzo", "http://www.ikayzo.com/" %>, is
      expanding from Hawaii into St. Louis. This is a super interesting question.
    </p>
    <p>
      How do you build a great Rails team? Where do you find great hires? How many
      Senior devs do you need compared to Junior devs? How can you identify and
      attract talented developers (currently, or in the future)? How does a team
      that needs to grow differentiate and communicate about itself the <i>right</i>
      way?
    </p>
    <p>
      Positive I'm missing some good questions. Might have time to add on another
      topic, so if there's anything on your mind or any problems you'd like
      some brains on,
      <%= link_to "suggest away!", new_suggestion_path(category: "topic") %>
    </p>
    <p>
      p.s. - if you're new to all of this, typed up a short look at the difference
      between <%= link_to "Junior vs Senior", "https://medium.com/@zemptime/junior-vs-senior-fb09c5d8223b#.sj66z8p9h" %>
    </p>
    <br>
    <p>
       RSVP to enter into the raffle for either cookies that my Mom
       makes, or a gag gift. Feel free to suggest other topics or gag gifts!
    </p>
  </div>

<br>
  <div class="row">
    <div class="col-xs-6">
      <h2>Discussion Topics</h2>
      <p>
        <% if @topics %>
        Recently added:
        <ul>
          <% @topics.each do |topic| %>
          <li>
            <%= topic.content %> <%= "- #{topic.author}" if topic.author? %>
          </li>
          <% end %>
        </ul>
        <% end %>
        <%= link_to "See More", suggestions_path(category: "topic") %> |
        <%= link_to "Have an Idea?", new_suggestion_path(category: "topic") %>
      </p>
    </div>
    <div class="col-xs-6">
      <h2>Gag Gift Ideas</h2>
      <p>
        <% if @gag_gifts %>
        Recently added:
        <ul>
          <% @gag_gifts.each do |gag_gift| %>
          <li>
            <%= gag_gift.content %> <%= "- #{gag_gift.author}" if gag_gift.author? %>
          </li>
          <% end %>
        </ul>
        <% end %>
        <%= link_to "See More", suggestions_path(category: "gag_gift") %> |
        <%= link_to "Have an Idea?", new_suggestion_path(category: "gag_gift") %>
      </p>
    </div>
  </div>
</div>
